#alert-message {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1030;
}

#top-right-menu {
  position: absolute;
  right: 0;
  top: 0;
}

.icon-button {
  cursor: pointer;
}

button.link {
  background: none;
  border: none;
  padding-top: 4px;
  font: inherit;
  cursor: pointer;
  font-family: arial, sans-serif;
}

.reset-vault {
  text-align: center;
  font-size: small;
  padding-top: 0.6rem;
}

.text-danger {
  text-decoration: none;
  color: red;
}
